.wine__cabaret{
    padding-top: 100px;
    margin: 0 51px;
}

.wine__cabaret-title{
    margin: 50px 0;
    text-align: center;
    font-size: 28px;
    line-height: 34px;
    color: #212529;
}

.wine__cabaret-content{
    display: grid;
    grid-template-columns: repeat(3,150px);
}

.wine__cabaret-item{
    padding: 32px;
    border: 1px solid black;
}

.wine__cabaret-img img{

}