.wine__intro{
    padding-top: 100px;
}

/* Wine-intro-top */
.wine__intro-top{
    padding: 64px 32px;
    width: 100%;
}

.wine__intro-info{
    margin-left: 25%;
    max-width: calc(75% - 20px);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    grid-row-gap: 80px;
}

.wine__intro-item{
    display: flex;
}

.wine__intro-content{
    padding-left: 16px;
}

.wine__intro-content h2{
    font-size: 26px;
    line-height: 31px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 12px;
    color: #212529;
}

.wine__intro-content p{
    text-align: justify;
    max-width: 385px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #777777;
}

.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

.wine__intro-image{
    width: 55px;
}

/* Wine-intro-mid */

.wine__intro-mid{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.493)), 
    url(/assets/img/gioithieu/banner-body.jpg);
    /* Ảnh full hết */
    background-size: cover;
    position: relative;
    
}

.wine__intro-mid::before{
    content: "";
    position: absolute;
    color: #000000;
    /* z-index: ; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wine__mid-wrap{
    visibility: hidden;
}