.wine__intro{
    padding-top: 90px;
}

.wine__intro-top{
    padding: 64px 47px;
    width: 100%;
}


.wine__intro-info{
    margin-left: 25%;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.wine__intro-item{
    display: flex;
}

.wine__intro-content h2{
    font-family: muli, sans-serif;
    font-weight: 600;
    font-style: normal;
}