.wine__intro{
    padding-top: 90px;
}

.wine__intro-top{
    padding: 64px 47px 32px;
    width: 100%;
}

.wine__space{
    width: 25%;
    
}

.wine__intro-info{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

