:root{
    --color-active: 
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: muli,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: aqua;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* 1. Header */
.wine{
    background: #ffffff;
}

.wine__header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wine__header-logo-img{
    width: 8rem;
    margin: 0.7rem 0;
}

.wine__header-left{
    display: flex;
}

.wine__header-right{
    display: flex;
}

.wine__header-item{
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.6rem;
    color: ;
}