html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    line-height: 1.6rem;
    height: 100000px;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
}